<!DOCTYPE html>
<html>
   <head>
      <meta charset=utf-8>
      <meta http-equiv=X-UA-Compatible content="IE=edge">
      <meta name=viewport content="width=device-width,initial-scale=1">
      <title>Index - Commerce iBlock</title>
      <link href="{{ appUrl }}/app.js" rel="preload" as="script">
   </head>
   <body>
      <header id="header"></header>
      <div class="commerce_block" data-api="bundle1" data-instance-id="1654575"></div>
      <div class="commerce_block" data-api="bundle2" data-instance-id="1654574"></div>
      <div class="commerce_block" data-api="bundle3" data-instance-id="1654577"></div>
      <script src={{ appUrl }}/app.js></script>
   </body>
</html>
