.ecom {

  &__available {
    position: relative;
    padding: 8px 0;
    border-top: 1px solid #ccc;

    @media only screen and (min-width: 1024px) {
      padding: 16px 0;
    }
  }

  &__available-title {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__available-items {
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }

  &__available-place {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0 20px 0 0;
    margin: 15px 0 0;
    text-decoration: none;

    @media only screen and (min-width: 1024px) {
      width: 33.332%;
    }
  }

  &__available-link {
    box-sizing: border-box;
    position: relative;
    display: block;
    text-decoration: none;
    white-space: normal;
    outline: none;
    border: none;
    transition: all .2s cubic-bezier(.25, .8, .25, 1);

    figure {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;

      img {
        max-height: 35px;
        height: 100%;
        width: auto;
      }
    }

    span {
      position: relative;
      display: block;
      margin: 8px 0;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: #333;
    }
  }
}
