.ecom__slider-discount {
  position: absolute;
  top: 0;
  left: -25px;
  width: 93px;
  height: 93px;
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 93px;
  text-align: center;
  color: #fff;
  background: #f53794;
  animation: all .24s ease-in;
  border-radius: 100%;
  z-index: 2;

  @media only screen and (min-width: 1280px) {
    top: 0;
    left: -15px;
    width: 123px;
    height: 123px;
    line-height: 123px;
  }

  img {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.ecom__slider-promo,
.ecom__slider-award {
  position: absolute;
  top: 0;
  right: -25px;
  width: 93px;
  height: 93px;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: all .24s ease-in;
  z-index: 2;

  @media only screen and (min-width: 1280px) {
    width: 123px;
    height: 123px;
  }

  img {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}


