.ecom {

  &__special-notes-wrap {
    padding: 20px 0;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
  }

  &__special-note {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #707070;
    margin: 0 0 15px;

    &:last-of-type {
      margin: 0;
    }

    p {
      font-size: inherit;
      line-height: inherit;
      margin: 0 0 5px;

      &:last-of-type {
        margin: 0;
      }
    }

    b,
    strong {
      font-weight: 500;
    }

    .bold {
      font-weight: 700;
    }

    .small {
      font-size: 10px;
      line-height: 14px;
    }

    .pink {
      color: #f63894;
    }
  }
}
