.ecomwrap {
  font-family: sans-serif;

  &__tabs {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }

  &__tab {
    width: 100px;
    height: 165px;
    margin: 0 25px;
    padding: 25px 0 10px;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
      margin: 0 50px;
    }

    &.active {
      border-bottom: 4px solid #FFC6E4;
      cursor: default;
    }

    // UFO
    &[data-product="128"] {
      figure {
        background: url('https://assets.foreo.com/files/static/2020-03/UFO2%403x.png') center no-repeat;
        background-size: 100%;
      }
    }

    // UFO mini
    &[data-product="129"] {
      figure {
        background: url('https://assets.foreo.com/files/static/2020-03/UFOmini2%403x.png') center no-repeat;
        background-size: 100%;
      }
    }

    // BEAR
    &[data-product="125"] {
      figure {
        background: url('https://assets.foreo.com/files/static/2020-05/BEAR.png') center no-repeat;
        background-size: 100%;
      }
    }

    // BEAR mini
    &[data-product="126"] {
      figure {
        background: url('https://assets.foreo.com/files/static/2020-05/BEARmini.png') center no-repeat;
        background-size: 100%;
      }
    }

    figure {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      margin: 0;
      padding: 0;

      img {
        position: relative;
        display: block;
        width: 100%;
      }
    }

    h3 {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #333;
      text-align: center;

      @media only screen and (min-width: 768px) {
        width: 180px;
        margin: 15px 0 0 -40px;

        [dir="rtl"] & {
          margin: 15px -40px 0 0;
        }
      }
    }
  }

  &__content {
    position: relative;
  }

  &__content-item {
    display: none;

    &.active {
      display: block;
    }
  }
}
